{% extends 'Ins/base.html' %}

{% block content %}
<div class="col-div-4-2">
		<div class="box-p1">
			<p class="head-1">Beitragsinteraktionen</p>
			<p class="number">15</p>
			<p class="percent"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 10,7% <span>im vergleich zu 17 Aug - 23 Aug</span></p>
			<i class="fa fa-line-chart box-icon"></i>
		</div>
</div>
<div class="col-div-4-2">
		<div class="box-p1">
			<p class="head-1">Story Interaktionen</p>
			<p class="number">11</p>
			<p class="percent"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 10,3% <span>im vergleich zu 17 Aug - 23 Aug</span></p>
			<i class="fa fa-line-chart box-icon"></i>
		</div>
	</div>
<div class="col-div-4-2">
		<div class="box-p1">
			<p class="head-1">IGTV video-Interaktionen</p>
			<p class="number">5</p>
			<p class="percent"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 3,1% <span>im vergleich zu 17 Aug - 23 Aug</span></p>
			<i class="fa fa-line-chart box-icon"></i>
		</div>
	</div>
<div class="col-div-4-2">
		<div class="box-p1">
			<p class="head-1">Live videos-Interaktionen</p>
			<p class="number">23</p>
			<p class="percent"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 8,5% <span>im vergleich zu 17 Aug - 23 Aug</span></p>
			<i class="fa fa-line-chart box-icon"></i>
		</div>
	</div>
{% endblock %}