{% extends 'Ins/base.html' %}

{% block content %}
<div class="main-content">
    <div class="info-card">
        <div class="card">
            <div class="card-icon">
                <span><i class="fas fa-layer-group"></i></span>
            </div>
            <div class="card-detail">
                <h4>Total Stock</h4>
                <h2>$150.00</h2>
            </div>
            <p>Increased by 60%</p>

        </div>
    </div>
    <div class="info-card">
        <div class="card">
            <div class="card-icon">
                <span><i class="fas fa-layer-group"></i></span>
            </div>
            <div class="card-detail">
                <h4>Total profil</h4>
                <h2>$150.00</h2>
            </div>
            <p>Increased by 60%</p>

        </div>
    </div>
    <div class="info-card">
        <div class="card">
            <div class="card-icon">
                <span><i class="fas fa-layer-group"></i></span>
            </div>
            <div class="card-detail">
                <h4>unique visaitores</h4>
                <h2>$150.00</h2>
            </div>
            <p>Increased by 40%</p>

        </div>
    </div>
</div>




{% endblock %}