{% extends 'Ins/base.html' %}

{% block content %}

<main>
	<div class="col-div-4-1">
		<div class="box-p1">
			<p class="head-1">Impressionen</p>
			<p class="number">11</p>
			<p class="percent"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 66,7% <span>im vergleich zu 17 Aug - 23 Aug</span></p>
			<i class="fa fa-line-chart box-icon"></i>
		</div>
	</div>
	<div class="col-div-4-1">
		<div class="box-p1">
			<p class="head-1">Profil Aktivitäten</p>
			<p class="number">10</p>
			<p class="percent" style="color:red!important"><i class="fa fa-long-arrow-down" aria-hidden="true"></i> -33,4% <span>im vergleich zu 17 Aug - 23 Aug</span></p>
			<i class="fa fa-circle-o-notch box-icon"></i>
		</div>
	</div>
	<div class="col-div-4-1">
		<div class="box-p1">
			<p class="head-1">Profilaufrufe</p>
			<p class="number">10</p>
			<p class="percent"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 33,4% <span>Profilaufrufe</span></p>
			<i class="fa fa-shopping-bag box-icon"></i>
		</div>
	</div>

<div class="col-div-4-2">
	<div class="box-p2">
		{{ plot_div | safe }}

	</div>
</div>

<div class="col-div-4-2">
	<div class="box-p2">
		{{ plot_div2 | safe }}
	</div>
</div>


</main>



{% endblock %}